

<ion-content>
  <div class="wrap">
    <h3>Sign Up for</h3>
    <h3>Ubunifu</h3>
    <br />
  </div>
  <p class="slogan">Have your creative work seen by world</p>
 <div class="heading">
   <h4>Creativity to the 
     world
   </h4>
 </div>
    <div class="container">
      <div class="continue-with-Goole" (click)="loginGoogle()">
        <div class="icon">
          <ion-icon size="large" name="logo-google"></ion-icon>
        </div>
        <div class="words">Continue with Google</div>
      </div>
      <br />
      <br />

      <div class="continue-with-email-and-pass" (click)="LoginWithPassword()">
        <div class="icon">
          <ion-icon size="large" name="mail"></ion-icon>
        </div>
        <div class="words2">Sign up with Email and Password</div>
      </div>
      <br>
      <p>Already have an account? <a class="link" (click)="login()">Log in now</a></p>
    </div>

  
</ion-content>
