ion-col {
  padding: 1rem;

  border: black 1px solid;
}
ion-row {
  padding: 2rem;
  --box-shadow: 0 4px 25px rgba(0, 0, 0, 0.849);
}
ion-card {
  padding: 2rem;
}
p {
  padding: 1rem;
}
ion-content {
  --background: rgb(130, 130, 243);
}
ion-tab-bar {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
}
