<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow" size="large" name="arrow-back" (click)="toProfile()"></ion-icon>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
  
 
  

  <ion-content *ngIf="details">
     



    <div class="picture">
     
    </div>

   
    
   <div class="profile">
    <div class="details">
      <div class="numbers">
        <h5>Email:</h5>
       
      </div>
      <div class="phone">
        {{details.email}}</div>
    </div>
    
    <div class="details">
      <div class="numbers">
        <h5> Name :</h5>
         
      </div>
      <div class="phone">
        {{details.name}}</div>
    </div>
    <div class="details">
      <div class="numbers">
        <h5> Phone number :</h5>
       
      </div>
      <div class="phone">
        {{details.contact}}</div>
    </div>
    <div class="complete">
      <div class="prof" (click)="edit()">
       <h5>complete Profile</h5>
       <ion-fab-button>
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
      </div>
     
      
    </div>
    <div class="complete">
      <div class="prof" (click)="addSubject()">
       <h5>Add Subject</h5>
       <ion-fab-button>
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
      </div>
     
      
    </div>
    <br>
    <div class="complete">
      <div class="prof" (click)="logout()">
       <h5>Logout</h5>
       <ion-fab-button>
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      </div>
     
      
    </div>
   </div>
    
   
    <ion-tab-bar  slot="bottom">
      <ion-tab-button (click)="ToHome()"   tab="feed">
        <ion-icon name="list"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
     
      <ion-tab-button (click)="toProfile()" tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
   
  </ion-content>
  
  </ion-content>