
.reset{
    --background:rgb(61, 60, 60);
    --background-activated:rgb(61, 60, 60);
}
.cancel{
    --background:rgb(255, 184, 184);
    --background-activated:rgb(255, 184, 184);
   

}
.profile{
    position: absolute;
    bottom: 0;
    width: 100%;
   left: 0;
    padding: 0;
  
    height: 58vh;
    padding: 2%;
    background:rgb(96, 96, 255);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    
}
.profile h5,p{
 padding: 0.5rem;
}
.picture{
    height: 55vh;
    background-image: url(../../../assets/images/musiclife.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.profile h5 p{
    margin-top: -5px;
}