.wrap{
    text-align: center;
}
.profile{
    position: absolute;
    bottom: 0;
    margin-right: -10px !important;
    padding: 0;
  
    height: 68vh;
    padding: 2%;
    background:rgb(96, 96, 255);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    width: 100%;
    
}
h3{
    padding: 2rem;
}
ion-card{
   --background:rgb(143, 143, 255);
}
ion-item{
   
    margin-top: .5rem;
    border-radius: 10px;
    --box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
    --margin-left: 2rem;
    --margin-right: 2rem;
    height: 3rem;
    border: 0.5px solid rgb(126, 97, 231);


}
a{
    color: white;
}
.picture{
    height: 50vh;
    background-image: url(../../../assets/images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
ion-button{
    --background:rgb(61, 60, 60); 
    --background-activated:rgb(61, 60, 60);
}
.p{
    padding: 2rem;
}
.nav{
    text-align: center;
}
