

<ion-content>
  <div class="picture">
    
  </div>
  <div class="profile">
    <h3>Welcome</h3>
   
        <ion-item>
         
          <ion-input [(ngModel)]="email" type="email"  placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
     
          <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
          
        </ion-item>
        <br>
      <ion-button shape="round" expand="block"(click)="login()">Sign in</ion-button>
      <div class="nav">
        <p>Forgot password?<a (click)="toForgotPassword()"> click here to reset!</a></p>
        <p>Dont have an account?<a (click)="toRegister()"> Sign up now!</a></p>
      </div>
     
   
    </div>
  
  
</ion-content>
