.wrap{
    text-align: center;
}
ion-button{
    margin-left: 10px;
    margin-left: 10px;
    --background:rgb(61, 60, 60);
    --background-activated:rgb(61, 60, 60);

}
.profile{
    position: absolute;
    bottom: 0;
    width: 100%;
   
    padding: 0;
    border: 1px solid black;
    height: 68vh;
    padding: 2%;
    background:rgb(96, 96, 255);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    
}
.picture{
    height: 50vh;
    background-image: url(../../../assets/images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.reg{
    padding: 2rem;
}
ion-item{
   
    margin-top: .5rem;
    border-radius: 10px;
    --box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);
    --margin-left: 2rem;
    --margin-right: 2rem;
    height: 3rem;
    

}
.bottom{
    padding: .5rem;
}
a{
    color: white;
}
.nv{
    text-align: center;
}
ion-input{
    margin-bottom: 4px;
}