.wrap{
    text-align: center;
}
ion-button{
    margin-left: 10px;
    margin-left: 10px;
    --background:rgb(61, 60, 60);
    --background-activated:rgb(61, 60, 60);

}
.profile{
    position: absolute;
    bottom: 0;
    width: 23.4rem;
    margin-right: -10px !important;
    padding: 0;
    border: 1px solid black;
    height: 68vh;
    padding: 2%;
    background:rgb(96, 96, 255);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    
}
.picture{
    height: 40vh;
    background-image: url(../../../assets/images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.reg{
    padding: 2rem;
}
ion-item{
    border: 1px solid black;
    margin-top: .5rem;
    border-radius: 10px;
    --box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);

}
.bottom{
    padding: 2rem;
}
a{
    color: white;
}