

<ion-content *ngIf="details">
  <ion-icon class="arrow" size="large" name="arrow-back" (click)="toProfile()"></ion-icon>
  <div class="picture">
  
  </div>
  <div class="profile">
 
    <div class="det">
      <form (ngSubmit)="AddUsers(UserData)" #UserData="ngForm">
 
          <ion-input value="{{details.email}}" class="input" [(ngModel)]="details.email" type="email"  name="email"
          ngModel
          #email="ngModel"
          ngModel
          required></ion-input>
  
    
       
          <ion-input value="{{details.name}}" class="input" [(ngModel)]="details.name" type="text" name="name"
          ngModel
          #name="ngModel"
          ngModel
          required></ion-input>
     
       
          
          <ion-input value="{{details.surname}}" class="input" [(ngModel)]="details.surname" type="text"  name="surname"
          ngModel
          #surname="ngModel"
          ngModel
          required></ion-input>
       
       
        
          <ion-input value="{{details.name}}" class="input" [(ngModel)]="details.contact" type="text"  name="contact"
          ngModel
          #contact="ngModel"
          ngModel
          required></ion-input>
     
       
      
  
        <ion-button shape="round" class="update" expand="block" type="submit">UPDATE</ion-button>
        
       
        </form>
      
    

    </div>
    
     
    
    
  </div>
  
</ion-content>
